<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Personagem</title>
</head>
<body>
        <header>
        <div class="top-bar">
            <div class="menu-icon" id="menuBtn">
                <div></div>
                <div></div>
                <div></div>
                
            </div>
            <div class="center-buttons">
                <button id="btnHistoria">História</button>
                <button id="btnCategoria">Categoria</button>
                <button id="btnIdentidade">Identidade</button>
            </div>
        </div>
    </header>
        
     <aside id="sideMenu" class="side-menu">
        <button id="editarBtn">Editar</button>
        <button id="removerBtn">Remover</button>
        <button id="salvarBtn">Salvar</button>
    </aside>
    <main>
        <div class="avatar-container">
            <div style="width: 400px; height: 600px; margin: auto">
    <iframe
        src="https://demo.readyplayer.me/avatar?frameApi"
        style="width: 100%; height: 100%; border: none;"
        allow="camera *; microphone *"
        id="rpm-frame"
    ></iframe>
        </div>

    </main>
    <footer>
        <p></p>
    </footer>
    <script src="../static/script.js"></script>
</body>
</html>